<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.token.app">

    <permission
        android:name="com.token.app.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.token.app.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.token.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.token.app.permission.C2D_MESSAGE" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".WalletApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Wallet"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustPan">
        <activity
            android:name=".view.MainActivity"
            android:label="Wallet"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.TermsAndConditionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.MainTabActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.TransactionActivity"
            android:label="@string/title_activity_transaction"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.InvoiceActivity"
            android:label="@string/title_activity_invoice"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.HelpAndSupportActivity"
            android:label="@string/title_activity_help_and_support"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.BalanceActivity"
            android:label="@string/title_activity_balance"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAhmDxxDHHyRjcFPc6gpGtnw6ZloDqr0Us" />
        <receiver
            android:name="com.token.app.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.token.app" />
            </intent-filter>
        </receiver>
        <service android:name="com.token.app.GcmIntentService" />

        <activity
            android:name=".view.InformationActivity"
            android:label="@string/title_activity_information"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ShowTrasactionInfoActivity"
            android:label="@string/title_activity_show_trasaction_info"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ShowAllTransactionsActivity"
            android:label="@string/title_activity_show_all_transactions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.BuyCreditViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.NotificationPageActivity"
            android:label="@string/title_activity_ntification_page"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AllTransactionFragementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".view.TokenInfoActivity"
            android:label="@string/title_activity_confirmation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ConfirmationActivity"
            android:label="@string/title_activity_confirmation"
            android:screenOrientation="portrait" />
    </application>
</manifest>